body {
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  align-items: center;
  background-position: center;
	/* adjusts the size to the window */
	background-size: cover;
	background-repeat: repeat;
  background-image: url('images/background-brown-carpentry-326311.jpg');
}

body h1 {
  text-align: center;
  font-size: 5rem;
  color: #DBEDF3;
  font-family: "Arvo", cursive;
  text-shadow: 3px 0 20px #000;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
}



.a {
  background-image: url("images/tom1.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.s {
  background-image: url("images/tom2.png");
}

.d {
  background-image: url("images/tom3.png");
}

.f {
  background-image: url("images/tom4.png");
}

.h {
  background-image: url("images/snare.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/kick.png");
}

.l {
  background-image: url("images/crash.png");
}

.set {

  margin: 10% auto;
}


.set .f {
  margin-right: 80px;
}

@media only screen and (max-width: 1476px) {
  .set .f {
    margin-right: 0px;
  }
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid rgb(72, 73, 75);
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  line-height: 2;
  font-weight: 900;
  color: #000;
  text-shadow: 3px 0 20px white;
  border-radius: 50px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: #fff;
}

@media only screen and (max-width: 1396px) {
  .drum {
    outline: none;
    border: 10px solid rgb(72, 73, 75);
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #000;
    text-shadow: 3px 0 20px white;
    border-radius: 50px;
    display: inline-block;
    width: 145px;
    height: 150px;
    text-align: center;
    margin: 3px;
    background-color: #fff;
  }
}

@media only screen and (max-width: 1262px) {
  .drum {
    outline: none;
    border: 10px solid rgb(72, 73, 75);
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #000;
    text-shadow: 3px 0 20px white;
    border-radius: 50px;
    display: inline-block;
    width: 130px;
    height: 150px;
    text-align: center;
    margin: 1px;
    background-color: #fff;
  }
}
@media only screen and (max-width: 1094px) {
  .drum {
    outline: none;
    border: 5px solid rgb(72, 73, 75);
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: #000;
    text-shadow: 3px 0 20px white;
    border-radius: 50px;
    display: inline-block;
    width: 110px;
    height: 130px;
    text-align: center;
    margin: 1px;
    background-color: #fff;
  }
}

/* -----------  Preload ----------- */


.preload{
  /* puts the preload div on top of the section */
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #77b3d4;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Transitions the preload div opacity to 0 */
  transition: opacity 0.5s ease;
}

/* app.js calls this class to remove the preloader */
.preload-finish{
  opacity: 0;
  pointer-events: none;
}

.cloud1, .cloud2, .cloud3{
  height: 100px;
  position: absolute;
  right: 0;
}

.cloud1{
  top: 25%;
  transform: translate(100%, -25%);
  animation: clouds 3s ease infinite;
}

.cloud2{
  top: 50%;
  transform: translate(100%, -50%);
  animation: clouds 2.5s ease infinite;
  z-index: -1;
}

.cloud3{
  top: 75%;
  transform: translate(100%, -75%);
  animation: clouds 3.5s ease infinite;

}

.airplane{
  height: 200px;
  animation: airplane 1s ease infinite alternate;
}

.preload h3{
  position: absolute;
  top: 75%;
  transform: translateY(-75%);
  color: #fff;
  font: 30px;
  font-family: sans-serif;
}

@keyframes airplane{
  from{
      transform: translateY(0px);
  }
  to{
      transform: translateY(50px);
  }
}

@keyframes clouds{
  /* Cant use translate because we are using translate above */
  from{
      right: 0%;
  }
  to{
      right: 130%;
  }
}